
ROCK VR/Packages/packages-lock.json
ROCK VR/Packages/manifest.json
ROCK VR/Assets/XR/XRGeneralSettingsPerBuildTarget.asset
ROCK VR/Assets/XR/Settings/OpenXR Package Settings.asset
ROCK VR/Assets/Plugins/Easy Save 3/Editor/ES3Asmdefs.unitypackage.meta
ROCK VR/.vsconfig
